@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// Changes Font Size using Clamp
body {
  font-family: 'Roboto', sans-serif;
} 

h1 {
  font-size: clamp(100%, 0.5rem + 2vw, 24px);
}

p {
  // font-size: clamp(100%, 0.45rem + 2vw, 20px);
  font-size: 16px;
}