@import './sass/System.scss';

* {
  margin: 0;
  padding: 0;
}

.user-info-container {
  display: flex;
  flex-direction: column;
  // border: $Border;
  width: 90%;
  margin: 0 auto;




  @media (min-width: 1000px) {
    flex-direction: row;
  }
}